* {
    font-family: "Courier New", Courier, monospace;
    text-shadow: 0px 4px 4px #282828;
    font-weight: bold;
    color: white;
    margin: 0;
    padding: 0;
}


body,
html {
    height: 100dvh;
    margin: 0;
    scroll-behavior: smooth;
    width: 100%;
    overflow-x: hidden;
    overflow-y: visible;
}

html {
    height: auto;
    position: absolute;
}

#logo,
.nav-about,
.nav-work,
.nav-projects,
.nav-contact,
.nav-resume {
    cursor: pointer;
}

:root {
    --light: rgb(62, 105, 121);
    --dark: rgb(23, 39, 45);
}

/* Background Picture */
body {
    margin-top: 9vh;
    height: 90.8dvh;
    background-color: var(--dark)
}

.page.hide {
    display: none;
}

/* swal css */

.alert {
    width: max-content;
}

#suprise,
#swal2-title h5 {
    text-shadow: none;
}







.fixed-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2)), url("/assets/background.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
}


#prevSection.portrait,
#nextSection.portrait {
    font-size: 3.5vw;
    padding: 1vw;
}

#prevSection.portrait {
    margin-bottom: 6.5vw;
}

#prevSection,
#nextSection {
    display: block;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: 0.2vw solid black;
    outline: none;
    background-color: var(--light);
    color: white;
    cursor: pointer;
    padding: 0.5vw 0.75vw;
    font-size: 1vw;
    border-radius: 4px;
    box-shadow: none;
}

#prevSection {
    margin-bottom: 2.65vw;
}


@keyframes fadeIn {
    0% {
        transform: translateY(5%);
        opacity: 0;
    }

    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

.centerVertical {
    position: relative;
    height: auto;
}


.section.fade,
#remind.fade {
    animation: fadeIn 0.75s linear;
    animation-delay: 0.1s;
    animation-fill-mode: both;
    visibility: visible;
}



/* Navigation Bar */
#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0vw 0.7vw;
    background-color: var(--dark);
    z-index: 1;
    height: 9vh;
}

#navbar .logo img {
    max-height: 6vh;
}

.logo {
    height: 100%;
    display: flex;
    align-content: center;
    float: left;
    margin-left: 1%;
    font-size: 1.5vw;
    flex-wrap: wrap;
    animation: fade 0.5s linear;
}

.right-nav,
.collapsed-dropdown {
    float: right;
    font-size: 1.5vw;
    height: 100%;
    margin-right: 1%;
    display: flex;
    align-content: center;
    justify-content: space-between;
    flex-wrap: wrap;
    animation: fade 0.4s linear;
}


.right-nav a,
.right-nav #toolbar {
    display: inline-block;
    border-radius: 10px;
    list-style: none;
    height: min-content;
    margin: 0vw 1.25vw;
    position: relative;
    -webkit-transition: color 0.4s ease-out;
    -moz-transition: color 0.4s ease-out;
    -o-transition: color 0.4s ease-out;
    -ms-transition: color 0.4s ease-out;
    transition: color 0.4s ease-out;
}

.fa-caret-down,
.fa-x,
#collapsed-content a {
    -webkit-transition: color 0.4s ease-out;
    -moz-transition: color 0.4s ease-out;
    -o-transition: color 0.4s ease-out;
    -ms-transition: color 0.4s ease-out;
    transition: color 0.4s ease-out;
}

.collapsedNav {
    border: none;
    border-radius: 0px;
    box-shadow: none;
    background: none;
    font-size: 5vh;
    display: none;
}

.collapsed-dropdown {
    margin-right: 3%;
}

.collapsedNav.collapsed {
    display: flex;

}

.navSection.highlight {
    background-color: var(--light);
    padding: 0px 10px;
}

#navbar a:hover,
.right-nav a:hover,
.collapsedNav button:hover,
#projectNav:hover .fa-caret-down {
    color: var(--light);
}

#dropdown:hover #content {
    display: block;
}

#dropdown:hover #invisible,
#invisible:hover {
    visibility: visible;
}

#invisible {
    visibility: hidden;
}

#collapsed-content.show {
    font-size: 3vw;
    float: none;
    color: white;
    text-decoration: none;
    display: block;
    line-height: 1.5;
    padding-bottom: 2vh;
    position: fixed;
    overflow: hidden;
    animation: fade 0.4s linear;
}

#collapsed-content {
    top: 7vh;
    right: 3.5vw;

}

#caret-down {
    padding-left: 0.25vw;
    line-height: 0;
}

#dropdown {
    height: 0;

}


#content,
#collapsed-content {
    display: none;
    padding-top: 3vh;
    background-color: var(--light);
    top: 9vh;
    border-radius: 25px;
    position: absolute;
    z-index: 1;
    padding-bottom: 1vh;
    animation: fade 0.4s linear;
}


#see-all {
    text-align: center;
}

#collapsed-content a {
    text-decoration: none;
    line-height: 1.5;
    padding: 0vw 3vw;
}

#content a {
    float: none;
    color: white;
    text-decoration: none;
    display: block;
    font-size: 1.25vw;
    line-height: 1.5;
    padding-bottom: 0.5vh;
}

.right-nav.collapsed {
    display: none;
}



/* Header */
#welcomePage {
    width: 80%;
    text-align: center;
    margin: 0% 10%;
    margin-bottom: 25vh;
    visibility: visible;
    overflow: visible;
}

/* welcome page */
#welcomePage h1 {
    overflow: hidden;
    font-size: 6.6vw;
}

#welcomePage h1.noAfter::after {
    margin-left: 0px;
}

#welcomePage h2 {
    font-size: 3vw;
}

#welcomePage.portrait h1 {
    font-size: 9vw;
}

#welcomePage.portrait h1::after {
    font-size: 6.9vw;
}

#welcomePage.portrait h2 {
    font-size: 4vw;
    margin-left: 3px;
}

#welcomePage.portrait h2::after {
    font-size: 3vw;
    margin-bottom: 99vw;
}

#welcomePage.portrait .wrapper {
    font-size: 3vw;
    max-width: 90%;
    margin-left: 5%;
}

#welcomePage.portrait .readmore,
#welcomePage.portrait .contactbutton {
    font-size: 4vw;
    padding: 2vw 3vw
}

#welcomePage.portrait {
    text-align: center;
    position: relative;
}


#remind {
    margin-top: -20vh;
    padding-bottom: 20vh;
    text-align: left;
    margin-left: 2vw;
    opacity: 0;
    bottom: 0;
    width: max-content;
    position: relative;
    vertical-align: bottom;
}


#remind.animate,
.button button.animate {
    animation: fade 2s ease-out forwards;
}

#remind.fadeOut {
    animation: fadeOut 1s ease-out forwards;
}

#remind,
.button button {
    visibility: hidden;
}

.card.hide {
    opacity: 0;
}




/* cursor 
cursor width is 1/2 border width */
#welcomePage h1::after,
#welcomePage h2.start:after {
    animation: blink 1060ms step-end infinite;
    content: "";
}

#welcomePage h1:after {
    margin-left: 5px;
    font-size: 4.95vw;
    animation-delay: 3s;
}

#welcomePage h1.start::after {
    border: 0.25vw white solid;
}

#welcomePage h2.start::after {
    border: 0.15vw white solid;
    margin-left: -0.35vw;
}

#welcomePage h2.paused {
    width: max-content;
    border-right: 0.3vw white solid;
}





@keyframes blink {
    0% {
        border-color: transparent;
    }

    50% {
        border-color: white;
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}


.button .readmore,
.button .viewResume {
    background-color: var(--dark);
}

.button .contactbutton {
    margin-right: 3vw;
    margin-left: 3vw;

    background-color: var(--light);
}

.button button {
    opacity: 0;
    font-size: 2.25vw;
    padding: 1vw 2vw;
    text-align: center;
    margin-top: 30px;
}


.button button:hover,
#ok:hover {
    transform: translateY(2px);
    box-shadow: none;
    position: relative;
}

.section {
    visibility: hidden;
}

/* Overview */
#overview {
    padding-top: 3vh;
    width: 80%;
    text-align: left;
    margin: 0% 10%;
    margin-bottom: 25vh;
}

#overview h3 {
    height: fit-content;
    font-size: 4.6vw;
    text-decoration: underline;
}

#overview p {
    font-size: 1.5vw;
    width: 50vw;
    float: left;
    padding-right: 2vw;
    padding-bottom: 3vh;
}

#overview .sectionPicture img {
    width: 25vw;
    border-radius: 50%;
    background-color: var(--dark);
    border: 0.5vw solid var(--dark);
    position: sticky;
    margin-top: 5vw;
}


#skills {
    padding-top: 3vh;
    width: 80%;
    text-align: middle;
    margin: 0% 10%;
    margin-bottom: 25vh;
}

#overviewText {
    margin-top: 3vh;
}

#overviewText p {
    margin-top: 2.5vh;
}


#overviewText.landscape {
    padding-right: 7.5vw;
}


#overviewText.portrait img {
    width: 30vw;
}

#workText.landscape p,
#overviewText.landscape {
    font-size: 1.5vw;
    width: 45vw;
}

#workText.landscape p {
    width: 40vw;
}

.sectionname.landscape {
    font-size: 4.6vw;
}

.sectionPicture.landscape {
    width: 36vw;
    display: auto;
    text-align: unset;
}

.workName.landscape {
    font-size: 2.5vw;
}

.workDate.landscape {
    font-size: 1.75vw
}

.workTitle.landscape {
    font-size: 2vw;
}

#overviewText.portrait p {
    width: 100%;
    padding-right: 0px;
}

#workText.portrait p {
    width: 100%;
}

.sectionPicture.portrait {
    width: 100%;
    display: block;
    text-align: center;
}

.portrait #selfie {
    translate: 0px 0px;
    width: 20%;
    margin-left: 2vw;
}

.portrait #ALICE {
    width: 74.5%;
}

.portrait #ALICE,
.portrait #selfie {
    margin-top: 3vh;
    float: left;
}



#skillName,
#skillName2 {
    margin-top: 8vh;
    margin-bottom: 1%;
    text-decoration: underline;
}

#skillName.landscape,
#skillName2.landscape {
    font-size: 3vw;
}

#skillName.portrait,
#skillName2.portrait {
    font-size: 4vh;
}

.workDate .skillIcon {
    height: 8vw;
}

.workDate.landscape .skillIcon {
    height: 10vh;
}

.skillIcon {
    margin-top: 1vh;
}





/* Work */
#experience {
    margin: 0% 10%;
    padding-top: 3vh;
    margin-bottom: 25vh;
    text-align: right;
    float: right;
    width: 80%;

}

#experience h3 {
    font-size: 4.6vw;
    text-decoration: underline;
    float: right;
}

#experience h4 {
    font-size: 2.1vw;
}


#experience h5 {
    font-size: 1.75vw;
}

#experience p {
    margin-top: 2.5vh;
    float: right;
    width: 100%;
    height: max-content;
}


#plangroupDetails {
    float: right;
    width: 100%;
}

#experience #plangroup img {
    border-radius: 25px;
    border: 0.5vw solid var(--dark);
}

.selfie {
    width: 32%;
    margin-right: -2vw;
    margin-top: -32vh;
    position: relative;
}

#experience #plangroup .sectionPicture {
    width: 36vw;
    translate: 0vh -5vh;

}

.ALICE {
    width: 100%;
    z-index: -1;
}


/* Projects */
#projects {
    padding-top: 3vh;
    margin: 0% 10%;
    margin-bottom: 25vh;
    display: inline-block;
    height: min-content;
    width: 80vw;
}

#projects .grid {
    display: inline-grid;
    padding-top: 3vh;
    width: 80vw;
    column-gap: 20px;
    row-gap: 20px;
    perspective: 1000px;
    overflow: visible;
    width: 100%;
}

.grid.mainBig {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.grid.mainHeight {
    height: 90vh
}


.grid.mainMedium {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.grid.mainMedium #icon,
.grid.mainSmall #icon,
.grid.subMedium #icon,
.grid.subSmall #icon {
    font-size: 5vw;
}

#home.small {
    font-size: 3vw;
    margin-right: 1.5vw;
}

#home.big {
    font-size: 4vw;
    margin-right: 3vw;
}

.grid.mainSmall {
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
    width: 80vw;
    height: max-content;
}

.grid.subSmall {
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
}

.grid.mainSmall.mobile-landscape .card,
.grid.mainMedium.mobile-landscape .card,
.grid.mainBig.mobile-landscape .card,
.grid.mainHeight.mobile-landscape .card,
.grid.subSmall.mobile-landscape .card,
.grid.subMedium.mobile-landscape .card,
.grid.subBig.mobile-landscape .card,
.grid.subHeight.mobile-landscape .card {
    height: 40vh;
}

.grid.mainSmall .card,
.grid.subSmall .card {
    width: 50vw;
    height: 25vh;
}

.grid.mainSmall #projectName,
.grid.subSmall #projectName {
    font-size: 3.5vw;
    padding-top: 0.5vh;
}

.grid.subBig {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.grid.subHeight {
    height: 120vh;
}

.grid.subMedium {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    height: auto;
}

.info.less {
    height: 100%;
    width: 100%;
    vertical-align: middle;
    text-align: center;
    margin: auto;
    bottom: unset;
}

.back.less {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0vw 2vw;
}

.info.more {
    height: auto;
    width: max-content;
    bottom: calc(20px + 3vh);
    margin: 0vw 2vw;
}

#icon.less {
    font-size: 3vw;
    margin-right: 0;
}

.learnMore.less {
    font-size: 2vh;
}

.learnMore.more {
    font-size: 1.5vw;
}

.text.show {
    visibility: visible;
}

.text.hide {
    visibility: hidden;
}


#projects h3,
#skills h3 {
    font-size: 4.6vw;
    text-decoration: underline;
    height: fit-content;
    justify-content: center;
    display: flex;
}

.card .front img {
    width: 95%;
    height: 75%;
    border-radius: 25px 25px 10px 10px;
    margin-top: 0.5vw;
}

#projectName {
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    background-color: var(--dark);
    border-radius: 25px;
    overflow: visible;
    position: relative;
}

.card.flip {
    transform: rotateY(180deg);
}

.front {
    position: absolute;
    font-size: 2vw;
}

.front,
.back {
    width: 100%;
    height: 100%;
    text-align: center;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.back {
    position: relative;
    transform: rotateY(180deg);
    font-size: 2.5dvh;
    border-radius: 25px;
    text-align: center;
    width: auto;
    height: 100%;
    margin: 1.5vw;

    vertical-align: middle;
}

.back .info {
    position: absolute;
    left: calc(50%);
    transform: translateX(-50%);
    height: min-content;
    margin: 0px;
}

.info p {
    width: 100%;
    padding-top: 1.5vh;
}

#projects button {
    background-color: var(--light);
}

.middle {
    text-align: center;
    position: relative;
}

.seeAll {
    font-size: 2.25vw;
    padding: 1vw 1.7vw;
    margin-top: 5vh;
}


#projects .card a button {
    border-radius: 25px;
    padding: 7px 17px 7px 17px;
    box-shadow: none;
}

.learnmore {
    font-size: 8vw;

}

#projects .info a:hover,
.info a button:hover,
.seeAll:hover {
    transform: translateY(2px);
    box-shadow: none;
    position: relative;
}

#icon {
    font-size: 2.5vw;
    vertical-align: middle;
}


@media (max-width: 800px) {
    #seeAll {
        font-size: 3.5vw;
        padding: 2vw 3vw;

    }
}


/* Contact and Socials*/
#contact {
    margin-left: 10%;
    margin-right: 10%;
    height: auto;
}

#contact h3 {
    padding-top: 3vh;
    font-size: 4.6vw;
    text-decoration: underline;
    justify-content: center;
    display: flex;
}

#contact.portrait h4 {
    font-size: 3.5vw;
    padding: 1.5vh 3vw;
    height: 5vw;
}

#contact.portrait .links,
#contact.portrait .resume,
#contact.portrait .reportBug {
    height: 20vw;
    margin-top: 5vh;
}

@media (max-width: 400px) {

    #contact.portrait #resume,
    #contact.portrait #reportBug,
    #contact.portrait #platforms {
        height: calc(20vw - 4vh);
    }

    #contact.portrait .links,
    #contact.portrait .resume,
    #contact.portrait .reportBug {
        height: 25vw;
    }
}



#contact.portrait input::placeholder,
#contact.portrait textarea::placeholder {
    font-size: 2vw;
}

#contact.portrait .form label {
    font-size: 2.5vw;
    line-height: 3vh;
    padding-left: 1vw;
}

#contact.portrait .form input,
#contact.portrait .form textarea {
    line-height: 2.5vh;
    font-size: 2vw;
    padding: 1vw;
    padding-left: 2vw;
}

#contact.portrait .grid button {
    font-size: 3vw;
    padding: 1vw 2.25vw;
    margin-bottom: 0px;
}

#contact.portrait .grid .form button {
    margin-bottom: 3vh;
    margin-left: 2.5vw;
}

#contact .grid {
    width: auto;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 0.6fr 0.4fr;
    font-size: 1.5vw;
    border-radius: 25px;
    justify-content: center;
}



#contact .grid.portrait {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    justify-content: center;
    width: 100%;
}

#contact .grid.portrait .socials {
    width: 45vw;
    justify-self: center;
}


#contact .grid.portrait .form {
    width: 60vw;
}

#contact.portrait {
    display: flex;
    justify-content: center;
}

#contact.portrait #recaptcha {
    margin-left: 2.5vw;
    margin-bottom: 3vh;
    height: 10vw;
    width: 40vw;
}

#contact.portrait .fa-github,
#contact.portrait .fa-envelope,
#contact.portrait .fa-linkedin,
#contact.portrait .fa-youtube {
    font-size: 5vw;
    margin-left: 2vw;
}



#contact h4 {
    font-size: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px 25px 0px 0px;
    height: 3.5vw;
    border-bottom: 0.25vw lightgray solid;
}

#contact .socials h4 {
    background-color: var(--dark);
}

#contact h4 {
    background-color: var(--light);
}

.form {
    border-radius: 25px;
    background-color: var(--dark);
    width: 80%;
}

#form {
    padding-right: 1.25vw;
    margin-top: 2vh;
}

.form label,
input,
textarea {
    margin-left: 2vw;
    line-height: 2vw;
    margin-bottom: 1.75vw;
}


input[type=email],
input[type=name],
textarea {
    text-decoration: none;
    width: 90%;
    height: 20%;
    border: 1px solid black;
    height: fit-content;
    resize: none;
    border-radius: 10px;
    background-color: lightgray;
    font-size: 1.1vw;
    color: black;
    text-shadow: none;
    padding: 0.35vw;
    padding-left: 0.5vw;
}

textarea::-webkit-scrollbar {
    width: 0.75vw;
}

textarea::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

textarea::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: var(--light);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

textarea::-webkit-scrollbar-thumb:hover,
textarea::-webkit-scrollbar-track:hover,
textarea::-webkit-scrollbar:hover {
    cursor: pointer;
}

::placeholder {
    color: gray;
    text-shadow: none;
    font-size: 1.15vw;
    text-decoration: none;
}

#contact .grid button {
    background-color: var(--light);
    font-size: 1.9vw;
    padding: 0.65vw 1.7vw;
}

.form button {
    margin-left: 2vw;
}

#form button {
    margin-bottom: 2vw;
}

.grid button:hover {
    transform: translateY(2px);
    box-shadow: none;
    position: relative;
}

.grid .socials {
    font-size: 1.25vw;
    overflow: visible;
    width: auto;
}

a:link,
a:visited,
a:active,
a:focus {
    text-decoration: none;
}

.socials a,
.fa-github,
.fa-youtube {
    text-decoration: none;
    font-size: 3.5vw;
    transition: all 0.3s linear;
    align-content: center;
}



.icons a:hover {
    transform: translate(0px, -1vw);
}

.socials .icons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.socials {
    overflow-y: hidden;
    width: 30%;
    display: block;
}

.resumeButton,
.bugButton,
.icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons {
    height: 7vw;
}

.resumeButton,
.bugButton {
    height: 6.25vw;
}

#contact.portrait .resumeButton,
#contact.portrait .bugButton,
#contact.portrait .icons {
    height: calc(15vw - 4vh);
}


.resume,
.reportBug,
.links {
    background-color: var(--light);
    border-radius: 25px 25px 25px 25px;
    height: 11vw;
    overflow: hidden;
}


#recaptcha {
    margin-left: 2vw;
    margin-bottom: 2vw;
    height: 5vw;
    width: 20vw;
}

button {
    border: 0.1vw rgb(32, 32, 32) solid;
    border-radius: 25px;
    transition: all 0.3s ease-in-out;
    color: white;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    animation-fill-mode: both;
    box-shadow: 0.4vw 0.3vw 0px rgb(211, 211, 211);
}

#resumePage {
    height: 100dvh;
    width: 100dvw;
    border: none;
    overflow: hidden;
    margin-top: 0px
}

/* Copyright */
.copyright {
    font-size: 1vw;
    text-align: center;
    display: inline-block;
    width: 100%;
    padding-bottom: 3vh;
    bottom: 0;
    padding-top: 10vh;
    position: relative;
}

.copyright.portrait {
    padding-top: 5vh;
    font-size: 2vw;
}

footer {
    bottom: 0;
    position: relative;

}

body::-webkit-scrollbar {
    width: 0.8em;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: var(--dark);
}

body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    border-radius: 8px;
}