<div id="top"></div>
<div class="fixed-background"></div>

<!--Navigation Bar-->
<nav id="navbar">

    <a class="logo" href="#top"><img id="logo" src="/assets/favicon.ico" title="Top"></a>

    <div class="collapsed-dropdown">
        <button class="collapsedNav" title="Collapsed menu">&#9776</button>
        <div id="collapsed-content">
            <a href="/projects" title="See all projects">Back</a><br>
            <a href="/">Home</a>
        </div>
    </div>

    <div class="right-nav">
        <div id="dropdown">
            <p class="navSection" id="projectNav">Projects<i class="fa fa-caret-down" id="caret-down"></i></p>
            <div id="invisible"></div>
            <div id="content">
                <a id="chess" href="/projects/multivibrator">1. Multivibrator PCB</a>
                <a href="/projects/chess">2. Chess App</a>
                <a href="/projects/breathalyzer">3. Breathalyzer</a>
                <a href="/projects/blackjack">4. Blackjack</a>
                <a href="/projects/ph-sensor">5. pH-Sensor</a>
                <a href="/projects/minesweeper">6. Minesweeper</a>
                <a id="chess" href="/projects/portfolio">7. Portfolio Website</a>
                <a href="/projects/calculator">8. Calculator App</a>
                <a href="/projects/alu">9. 4 Bit ALU PCB</a>
            </div>
        </div>
        <a href="/projects" title="See all projects">Back</a>
        <a href="/" class="fa-solid fa-house" title="Home Page"></a>
    </div>
</nav>


<!-- Project Details -->
<section class="project">
    <h3 id="projectName"></h3>
    <h4 id="tools">Languages/Tools: </h4>
    <h4 id="source">GitHub: <a id="github" href="" target="_blank" class="fa fa-github"></a></h4>
    <picture id="projectPic" class="center">
        <video id="video" loop></video>
        <div class="slideshow" id="slideshowContainer"></div>
    </picture>
    <div class="center" id="progressContainer">
        <progress id="progressBar" min="0" max="100" value=""></progress>
    </div>
    <div class="center" id="videoButtons">
        <button id="backward" title="Seek back" class="fa-solid fa-backward"></buton>
            <button id="play" title="Pause/Play" class="fa-solid fa-play"></buton>
                <button id="forward" title="Seek forward" class="fa-solid fa-forward"></buton>
                    <button id="refresh" title="Restart video" class="fa-solid fa-refresh"></buton>
                        <button id="fullscreen" title="Fullscreen" class="fa-solid fa-expand"></buton>
                            <button id="time"></buton>
    </div>
    <p id="text"></p>
    <div class="center"><a id="clickable" href="" target="_blank"><button id="button">Download</button></a></div>
</section>


<!--Copyright-->
<footer>
    <p class="copyright">Copyright © George Chen</p>
</footer>